.top-nav {
  background: lighten($brand-black, 10%);
  padding: 1rem;

  color: lighten($brand-accent, 5%);

  box-shadow: $card-shadow;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.top-nav__list {
  margin: 0;
  display: flex;
}

.brand {
  font-weight: 400;
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.8rem;
}
