.top-nav {
  background: lighten($brand-black, 10%);
  padding: 1rem;

  color: lighten($brand-accent, 5%);

  box-shadow: $card-shadow;
}

.top-nav__list {
  margin: 0;
  display: flex;
}

.brand {
  font-weight: 400;
  margin: 0;
}
