/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

li {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
}
