// Color Palette http://www.colourlovers.com/palette/1880600/Outdoor_Invaders
//
$brand-black: #141213;
$brand-primary: #74A17C;
$brand-secondary: #DA9328;
$brand-accent: #C72A29;
$brand-pop: #B03E87;

@import "yoga";
@import "reset";
@import "base";
@import "navbar";

// Uncomment this for working with yoga prototyping
// http://rtablada.github.io/yoga-sass/#mixin-yoga-prototype
// @include yoga-prototype();
