<div class="left-sidebar">
  <ul class="games-list">
    {{#each model as |game|}}
      <li>
        <h2>{{game.attributes.name}}</h2>
      </li>
    {{/each}}
  </ul>
  {{#footer-bar as |toggleExpanded|}}
    {{#simple-form class="footer-form" onsubmit=(route-action 'saveGame' toggleExpanded) as |newGame|}}
      <label class="footer-form__label">Name</label>
      {{input type="text" class="footer-form__input" placeholder="Name" value=newGame.name}}
      <button class="footer-bar__button footer-bar__button--save">Save</button>
    {{/simple-form}}
  {{/footer-bar}}
</div>
<div class="detail">
  <h2>Top Scores for <strong>Donkey Kong Country</strong></h2>
</div>
