<div class="app">
  <nav class="top-nav">
    <ul>
      <li class="top-nav__brand"><h1 class="brand">Game Scores</h1></li>
    </ul>
  </nav>
  <div class="app-main">
    <div class="left-sidebar">
      <ul class="games-list">
        <li>
          <h2>Donkey Kong Country</h2>
        </li>
        <li>
          <h2>Super Mario World</h2>
        </li>
      </ul>
    </div>
    <div class="detail">
      <h2>Top Scores for <strong>Donkey Kong Country</strong></h2>
    </div>
  </div>
</div>
