<div class="app">
  <nav class="top-nav">
    <ul class="top-nav__list">
      <li class="top-nav__brand"><h1 class="brand">Game Scores</h1></li>
    </ul>
  </nav>
  <div class="app-main">
    <div class="left-sidebar">
      <ul class="games-list">
        <li>
          <h2>Donkey Kong Country</h2>
        </li>
        <li>
          <h2>Super Mario World</h2>
        </li>
      </ul>
      <footer class="footer-bar footer-bar--active">
        <button class="footer-bar__button footer-bar__button--toggle">Add Game</button>

        <form class="footer-form">
          <label class="footer-form__label">Name</label>
          <input type="text" class="footer-form__input" placeholder="Name">
          <button class="footer-bar__button footer-bar__button--save">Save</button>
        </form>
      </footer>
    </div>
    <div class="detail">
      <h2>Top Scores for <strong>Donkey Kong Country</strong></h2>
    </div>
  </div>
</div>
